@font-face { 
    font-family: 'Inter';
    src: url("../fonts/Inter-ExtraLight.otf");
    font-style: normal;
    font-weight: 200;
}
@font-face { 
    font-family: 'Inter';
    src: url("../fonts/Inter-Medium.otf");
    font-style: normal;
    font-weight: 500;
}
@font-face { 
    font-family: 'Inter';
    src: url("../fonts/Inter-SemiBold.otf");
    font-style: normal;
    font-weight: 600;
}
@font-face { 
    font-family: 'Inter';
    src: url("../fonts/Inter-ExtraBold.otf");
    font-style: normal;
    font-weight: 800;
}
@font-face { 
    font-family: 'Inter';
    src: url("../fonts/Inter-Black.otf");
    font-style: normal;
    font-weight: 900;
}

:root {
  --font-family: "Inter", sans-serif;
}

html {font-size:24px;}

body {background:#FFF;color:#000;
font-family: 'Inter';font-size:1rem;font-weight:400;letter-spacing:0;text-align:left;}
.wrapG {display:block;max-width:1890px;margin:0 auto;padding:0 10px;}
 
body * {box-sizing:border-box;}
 
.hCont {display:flex;justify-content:space-between;flex-wrap:nowrap;align-items:center;gap:1rem;}
.hCont1 {display:flex;justify-content:space-between;flex-wrap:wrap;align-items:center;gap:2rem;}
.hCont2 {display:flex;justify-content:space-between;flex-wrap:nowrap;align-items:start;gap:0;}
.hCont3 {display:flex;justify-content:space-between;flex-wrap:wrap;align-items:center;gap:0;}
.vCont {display:flex;justify-content:space-between;flex-wrap:nowrap;align-items:center;gap:0;flex-direction:column;}
.vCont1 {display:flex;justify-content:space-between;flex-wrap:nowrap;align-items:start;gap:0;flex-direction:column;}
.hContSt {display:flex;justify-content:start;flex-wrap:wrap;align-items:stretch;gap:1rem;}
.vContSt {display:flex;justify-content:start;flex-wrap:wrap;align-items:stretch;gap:1rem;flex-direction:column;}

h1 {font-weight:600;font-size:2.5rem;line-height:2.75rem;color:#000;margin-bottom:2rem;text-transform:uppercase;}
h2 {font-weight:600;font-size:2.25rem;line-height:2.75rem;color:#090909;margin-bottom:2rem;}
.stnBlock {margin-top:5rem;margin-bottom:5rem;}

div.Img {overflow:hidden;line-height:0;}

a {text-decoration:none;color:inherit;}
b {font-weight:700;}
p {margin-bottom:1em;}

.assist {max-width:100%;max-height:100%;width:551px;height:973px;
margin:100px auto;border:2px solid #55555555;border-radius:10px;overflow:hidden;
position:relative;}
.assist>object {position:absolute;top:0;left:0;z-index: -1;}
.assist .interfCont {width:calc(100% - 30px);height:calc(100% - 30px);margin:15px;
display:flex;justify-content:end;flex-wrap:nowrap;align-items:center;gap:0;flex-direction:column;gap:15px;}
.assist .interfCont * {transition-duration:0.3s;}
.assist button, .assist .butn_like {width:52px;height:52px;border:none;border-radius:10px;background-color:#FFFFFFCC;box-shadow:0px 0px 16px 0px #0000001F;
display:flex;justify-content:center;align-items:center;font-size:18px;}
.assist button:hover {box-shadow:0px 0px 16px 0px #0000005F;}
.assist .butLine {width:100%;display:flex;justify-content:space-between;align-items:center;}
.assist .butL01 {margin:0 0 auto 0;}
.assist .butL02 {justify-content:end;}
.assist .butL05 {background:#FFF;}
.assist .butL04, .assist .butL05 {width:100%;height:auto;overflow:hidden;}

.assist .butn_like {font-size:21px;font-weight:700;text-align: center;}
.assist .infDesc {padding:21px 25px;}
.assist .toMain {width:auto;}
.assist .descr {height:auto;padding:21px 25px;gap:10px;overflow:hidden;
display:flex;justify-content:space-between;flex-wrap:no-wrap;align-items:center;gap:10px;flex-direction:column;}
.assist .descr .tit {font-size:21px;font-weight:700;}
.assist .descr .txt {font-size:18px;font-weight:400;line-height:22px;}
.assist .descr .descrLink {font-size:18px;font-weight:500;
width:100%;padding:18px;border-radius: 12px;background: #0063FF1A;}
.assist .descr .descrLink:hover {background: #0063FF2A;}

.detView {background-image:url(../images/bonesGray.svg);
background-position:center center;
background-repeat:no-repeat;}
.detView.dViewON {background-image:url(../images/bonesWhite.svg);background-color:#575DFF;}
