@font-face { 
    font-family: 'Inter';
    src: url("../fonts/Inter-Thin.otf");
    font-style: normal;
    font-weight: 100;
}
@font-face { 
    font-family: 'Inter';
    src: url("../fonts/Inter-ExtraLight.otf");
    font-style: normal;
    font-weight: 200;
}
@font-face { 
    font-family: 'Inter';
    src: url("../fonts/Inter-Light.otf");
    font-style: normal;
    font-weight: 300;
}
@font-face { 
    font-family: 'Inter';
    src: url("../fonts/Inter-Regular.otf");
    font-style: normal;
    font-weight: 400;
}
@font-face { 
    font-family: 'Inter';
    src: url("../fonts/Inter-Medium.otf");
    font-style: normal;
    font-weight: 500;
}
@font-face { 
    font-family: 'Inter';
    src: url("../fonts/Inter-SemiBold.otf");
    font-style: normal;
    font-weight: 600;
}
@font-face { 
    font-family: 'Inter';
    src: url("../fonts/Inter-ExtraBold.otf");
    font-style: normal;
    font-weight: 700;
}
@font-face { 
    font-family: 'Inter';
    src: url("../fonts/Inter-Black.otf");
    font-style: normal;
    font-weight: 800;
}

html {font-size:16px;}

@media (max-width:1000px) {html {font-size:15px;}}
@media (max-width:950px) {html {font-size:13.5px;}}
@media (max-width:700px) {html {font-size:12px;}}
/*@media (max-width:500px) {html {font-size:9px;}}*/

body {background:#FFF;color:#000;
font-family: 'Inter';font-size:1rem;font-weight:400;letter-spacing:0;text-align:left;}
.wrapG {display:block;max-width:1390px;margin:0 auto;padding:0 10px;}

.hCont {display:flex;justify-content:space-between;flex-wrap:nowrap;align-items:center;gap:1rem;}
.hCont1 {display:flex;justify-content:space-between;flex-wrap:wrap;align-items:center;gap:2rem;}
.hCont2 {display:flex;justify-content:space-between;flex-wrap:nowrap;align-items:start;gap:0;}
.hCont3 {display:flex;justify-content:space-between;flex-wrap:wrap;align-items:center;gap:0;}
.vCont {display:flex;justify-content:space-between;flex-wrap:nowrap;align-items:center;gap:0;flex-direction:column;}
.vCont1 {display:flex;justify-content:space-between;flex-wrap:nowrap;align-items:start;gap:0;flex-direction:column;}
.hContSt {display:flex;justify-content:start;flex-wrap:wrap;align-items:stretch;gap:1rem;}
.vContSt {display:flex;justify-content:start;flex-wrap:wrap;align-items:stretch;gap:1rem;flex-direction:column;}

h1 {font-weight:600;font-size:2.5rem;line-height:2.75rem;color:#000;margin-bottom:2rem;text-transform:uppercase;}
h2 {font-weight:600;font-size:2.25rem;line-height:2.75rem;color:#090909;margin-bottom:2rem;}
.stnBlock {margin-top:5rem;margin-bottom:5rem;}

body * {box-sizing:border-box;}
* {transition-duration:0.3s;}
div.Img {overflow:hidden;line-height:0;}

a {text-decoration:none;color:inherit;}
b {font-weight:700;}
p {margin-bottom:1em;}

.upperLine {background:#EDEDED;padding:2rem 0;font-size:1.0625rem;}
.teleph {font-size:1.25rem;}
.upperLine>.wrapG>*:nth-child(1){margin-right:auto;}


.buttn {width:181px;height:53px;background:#D02C2C;border:none;border-radius:0.625rem;font-size:1.125rem;color:#fff;cursor:pointer;
display:flex;justify-content:center;flex-wrap:nowrap;align-items:center;}
.filtBut .buttn {width:180px;height:45px;border-radius:5px;font-size:14px;font-weight:600;background:#D9D9D9;color:#000;}

.buttn.marked {background:#D02C2C;color:#fff;}
.buttn:hover {background:#D02C2C;color:#fff;}
.buttn.buttnB {min-width:243px;height:61px;}
.buttn.buttRnd {width:22.5rem;height:4.94rem;border-radius:3.75rem;font-weight:700;font-size:1.25rem;color:#FFF;}
.buttn.buttG {background: linear-gradient(107deg, #53CF5C 59.16%, #595959 186.05%);}
.buttn.buttG:hover {background: linear-gradient(-73deg, #53CF5C 59.16%, #595959 186.05%);}
.buttn.buttR {background: linear-gradient(107deg, #D02C2C 9.5%, #D02C2C 73%, #982929 100%);}
.buttn.buttR:hover {background: linear-gradient(-73deg, #D02C2C 9.5%, #D02C2C 73%, #982929 100%);}
.buttn.buttBl {background: linear-gradient(107deg, #299FD9 53.12%, #165473 189.07%);}
.buttn.buttBl:hover {background: linear-gradient(-73deg, #299FD9 53.12%, #165473 189.07%);}

.logoMenu .headMenu {font-size:1.125rem;gap:4rem;}
.logoMenu .logoImg {margin-right:auto;max-width:50%;}

.burger {background:transparent;border:none;cursor:pointer;order:3;}
.burger img {width:2.5rem;}

.burgerMenu {display:none;position:fixed;z-index:10;width:100%;top:6rem;left:0;
background:white;padding:2rem;box-sizing:border-box;}
.blur {display:none;position:fixed;z-index:5;width:100%;height:100%;top:6rem;background:#000000BB;}
.burgerMenu .headMenu {font-size:1.5rem;gap:0;margin-bottom:1rem;}
.burgerMenu .headMenu a {height:3rem;display:flex;align-items:center;padding:0 1rem;}
.burgerMenu .headMenu a:hover {background:#eee;}

.findMenu {align-items:stretch;margin-bottom:4rem;}
.findMenu form {border:1px solid #000000;border-radius:0.94rem;flex-grow:3;padding:0 5px 0 15px;height:47px;}
.findMenu .buttn {height:47px;}

.findMenu form {font-size:1.25rem;}
.findMenu form .findOpt{font-size:1.125rem;}
.findMenu input {border:none;background:transparent;font-size:1.25rem;}
.findMenu input:focus {outline: none;}
.findMenu input[type='text'] {flex-grow:2;}
.findMenu input[type='checkbox'] {line-height:0;transform: scale(1.5);cursor:pointer;}
.findMenu label {cursor:pointer;}
.findMenu input[type='submit'] {width:3rem;height:2rem;border-left:1px solid #000;cursor:pointer;
background:url(../images/loupe.svg) center center no-repeat;background-size:contain;}

.slideBanner {position:relative;width:100%;}
.slideBanner .scrolCont {width:100%;gap:0.5rem;}

.slideBanner .cont>div {position:relative;line-height:0;width:100%;height:444px;border-radius:10px;
overflow:hidden;white-space:normal;flex-shrink: 0;}
.slideBanner .cont>div img {min-height:100%;min-width:100%;}
.slideBanner .cont>div::after {content:"";position:absolute;z-index:2;top:0;right:0;height:100%;width:100%;background: rgba(0, 0, 0, 0.7);}
.slideBanner .cont>div .uppBlock {position:absolute;z-index:3;top:5%;left:8%;color:#FFF;height:90%;
display:flex;justify-content:space-between;flex-wrap:nowrap;align-items:start;gap:0;flex-direction:column;}
.slideBanner .Tit {font-weight:600;font-size:47px;line-height:142%;text-transform:uppercase;}
.slideBanner .subTit {font-size:32px;line-height:2.44rem;}

.slideBanner .slideArr {position:absolute;z-index:5;right:4rem;bottom:5%;}
.slideArr {display:flex;justify-content:space-between;flex-wrap:nowrap;align-items:center;gap:4rem;}


.scrolCont {display:flex;justify-content:start;flex-wrap:nowrap;white-space:nowrap;overflow-x:auto;overflow-y:hidden;padding:2px 0;}
.scrolCont>* {white-space:normal;}


.leftArr, .rightArr {width:55px;height:55px;background:#E0E0E0;border-radius:50%;color:#000;font-size:40px;
display:flex;justify-content:center;flex-wrap:nowrap;align-items:center;cursor:pointer;}
.leftArr, .rightArr {color:transparent;
background-color:#E0E0E0;
background-image:url(../images/arrDown.svg);
background-position:center center;
background-repeat:no-repeat;
background-size:50%;}
.leftArr {transform:rotate(90deg);}
.rightArr {transform:rotate(-90deg);}
.leftArr:hover, .rightArr:hover {background-color:#B0B0B0;}



.filtBut {row-gap:2rem;column-gap:3rem;margin:2rem 0;flex-wrap:nowrap;padding:2px 0;
display:flex;justify-content:start;flex-wrap:nowrap;white-space:nowrap;overflow-x:auto;overflow-y:hidden;padding:2px 0;}
.cataLog .filtBut {flex-basis:80%;}
.filtBut>* {white-space:normal;flex-shrink:0;}

@media (max-width:1000px) {.filtBut {column-gap:1.5rem;}
.filtShow .filtBut .buttn {width:150px;height:35px;border-radius:5px;font-size:14px;font-weight:500;}}
@media (max-width:700px) {
.filtShow .filtBut .buttn {width:125px;height:23px;border-radius:3px;font-size:12px;font-weight:400;}}

.searchBrend .cont {justify-content:start;column-gap:1.6788%;row-gap:20px;}
.searchBrend .cont>* {width:15.1825%;height:87px;background:#EAEAEA;border-radius:5px;color:#000;font-weight:500;font-size:15px;
display:flex;justify-content:space-evenly;flex-wrap:nowrap;align-items:center;padding:0;}
.searchBrend .cont>* img {max-width:45%;max-height:60%;}
@media (max-width:1200px) {.searchBrend .cont>* {width:18.3333%;height:87px;}.searchBrend .cont {column-gap:1.9567%;}}
@media (max-width:900px) {.searchBrend .cont>* {width:23%;height:72px;}.searchBrend .cont {column-gap:2.6%;}}
@media (max-width:700px) {.searchBrend .cont>* {width:30.7%;height:56px;}.searchBrend .cont {column-gap:3.95%;row-gap:17px;}}
@media (max-width:400px) {.searchBrend .cont {justify-content:space-between;}.searchBrend .cont>* {flex-basis:48%;}}

.cataLog .gcCont {gap:79px;}
.cataLog .filtBut .buttn {font-size:15px;}

.catalogCat h1 {text-align:center;}
.catalogCat .cont {row-gap:3rem;align-items:stretch;}
.catalogCat .cont>* {width:18.25rem;min-height:394px;border:2px solid #000;border-radius:1rem;padding:1.75rem 1.2rem;
display:flex;justify-content:start;flex-wrap:nowrap;flex-direction:column;}
.catalogCat .cont>* .Tit {font-weight:500;font-size:25px;color:#090909;white-space:nowrap;overflow:hidden;
padding-bottom:1.7rem;margin-bottom:2rem;position:relative;display:block;width:100%;}
.catalogCat .cont>* .Tit::after{content:"";position:absolute;bottom:0;left:0;height:1px;width:100%;border-bottom:1px solid #000;}
.catalogCat .cont>* li {font-weight:400;font-size:20px;line-height: 24px;color:#090909;margin-bottom:14px;}
.catalogCat .cont>* .buttn {margin-top:auto;flex-shrink:0;}
.catalogCat>.buttnB {width:282px;margin:3rem auto;}
@media (max-width:1300px) {
.catalogCat .cont {justify-content:start;column-gap:2.6%;row-gap:2rem;}
.catalogCat .cont>* {width:23%;}
}
@media (max-width:1100px) {
.catalogCat .cont {column-gap:1.95%;row-gap:2rem;}
.catalogCat .cont>* {width:32%;}
}
@media (max-width:800px) {
.catalogCat .cont {justify-content:center;column-gap:4%;row-gap:2rem;}
.catalogCat .cont>* {max-width:280px;width:47%;min-height:247px;}
}
@media (max-width:700px) {
.cataLog .gcCont {gap:35px;}
.catalogCat .cont>* {max-width:220px;}
.catalogCat .cont>* .Tit {font-size:16px;padding-bottom:15px;margin-bottom:20px;}
.catalogCat .cont>* li {font-size:14px;line-height:14px;margin-bottom:10px;}
}

.goodCard {width:282px;height:415px;border:2px solid #000;border-radius:1rem;padding:23px 19px;flex-shrink:0;font-size:16px;
display:flex;justify-content:start;flex-wrap:nowrap;align-items:start;flex-direction:column;}
.goodSlid {height:48%;width:100%;margin:0 auto;position:relative;flex-shrink:0;}
.goodSlid>* {height:100%;max-height:100%;max-width:100%;position:absolute;top:0;left:50%;transform:translateX(-50%);transition-duration:100ms;}
.goodCard .indicPanl {display:flex;flex-wrap:nowrap;gap:7px;max-width:100%;margin:0 auto 3.7% auto;}
.goodCard .indicPanl>div {width:24px;height:20px;border-bottom:2px solid #D2D2D2;}
.goodCard .indicPanl>div.marked {border-bottom:2px solid #151515;}
.goodPrice {font-weight:500;font-size:27px;line-height:1em;color:#090909;margin:auto auto 3.7% 0;
display:flex;justify-content:start;flex-wrap:nowrap;gap:0.5em;align-items:center;}
.goodPrice img {max-height:100%;}
.goodDescr {font-weight:400;font-size:16px;line-height:1.18em;color:#090909;margin:0 auto 3.4% 0;}
.goodRat {display:flex;justify-content:start;flex-wrap:nowrap;gap:0.5em;align-items:center;margin:0 auto 6% 0;}
.avail {font-weight:400;font-size:14px;line-height:17px;color:#3DC028;}
.goodCart {display:flex;justify-content:end;flex-wrap:nowrap;gap:1em;align-items:center;width:100%;margin:0;}
.goodCart>* {height:1.8em;cursor:pointer;}
.goodCart .buttn {width:116px;height:29px;border-radius:0.3125em;font-weight:400;font-size:12px;color:#FFF;margin-right:auto;}
.goodCart .like {width:21px;height:20px;background-image:url(../images/like.svg);background-position:center center;background-repeat:no-repeat;background-size:contain;}
.goodCart .like:hover {background-image:url(../images/likeH.svg);}
.goodCart .like.marked {background-image:url(../images/likeM.svg);}
.goodCart .like.marked.step1 {transition-duration:0.1s;}
.goodCart .like.marked.step2 {transform:scale(1.5);}
.goodCart .etsPl {text-decoration:none;display:block;width:26px;height:23px;
background:url(../images/etsPl.svg) center center no-repeat;background-size:contain;}

@media (max-width:1100px) {
.gcCont {gap:55px;}
}
@media (max-width:700px) {
.goodCard {padding:9px 19px;font-size:12.43px;}
.goodCart .buttn {width:150px;height:32px;border-radius:3px;font-size:12px;}
.goodCard .indicPanl>div {width:22px;height:7px;}
.goodCart .like, .goodCart .etsPl {display:none;}
.goodCard .goodRat img, .goodCard .goodRat .rati {display:none;}
.goodCard .goodPrice {order:3;margin:auto auto 2.5% 0;}
.goodCard .goodDescr {order:5;font-size:12px;}
.goodCard .goodRat {order:4;margin:0 auto 1.5% 0;}
.goodCard .goodCart {order:6;}
.gcCont {gap:35px;}
.goodCard {width:215px;height:298px;}
}

.scrolBrand {background:#EDEDED;padding:2rem 0;}
.scrolBrand .cont {width:calc(100% - 22rem);gap:0;}
.scrolBrand .cont>* {width:20%;flex-shrink:0;display:flex;justify-content:center;}

.twoColm {font-weight:300;font-size:1.75rem;line-height:2.125rem;color:#090909;}
.trChange h1 {text-align:center;margin-bottom:4rem;}
.trChange .cont>*>* {margin-bottom:1rem;}
.trChange .cont>* {flex-basis:50%;}
.trChange .cont .col2 {border-left:1px solid #000;padding-left:1.75rem;}
.twoColm .buttn {margin:4rem auto;}
@media (max-width:1100px) {.twoColm {font-size:1.3rem;}}
@media (max-width:900px) {.twoColm {font-size:1.17rem;}}

.videoFBk {margin-bottom:5rem;padding-bottom:2rem;}
.videoFBk h1 {text-align:center;margin-bottom:5.5rem;}
.videoFBk .vWrap {position:relative;display:block;height:257px;}
.videoFBk .scrolCont {height:100%;}
.videoFBk .videoFrame {position:relative;flex-shrink:0;width:454px;max-width:100%;height:257px;border:2px solid #D9D9D9;border-radius:11px;}
.videoFBk iframe {position:absolute;left:0.7%;top:1%;z-index:5;width:98.6%;height:98%;border-radius:8px;}
.videoFBk .slideArr {width:200px;margin:0 auto 1rem auto;}
.videoFrame.glassed::after {content:"";position:absolute;z-index:10;left:0;top:0;width:100%;height:100%;/*background:blue;opacity:0.3;*/}

.autoNews {font-weight:300;color:#090909;}
.autoNews .cont>* {flex-basis:47%;}
.autoNews .col2>* {display:flex;justify-content:start;align-items:center;gap:2rem;padding:1.5rem 0;border-bottom:1px solid #000;}
.autoNews .col2>*>*:nth-child(1) {width:105px;height:60px;background:#D9D9D9;border-radius:5px;font-weight:300;font-size:15px;color:#090909;
display:flex;justify-content:center;align-items:center;}
.autoNews .col1 {font-size:1.75rem;line-height:2.125rem;}
.autoNews .col2 {font-size:1.25rem;line-height:1.5rem;margin-top:-1.5rem;}
.autoNews .buttn {margin:5rem auto;}

.autoTrend {font-weight:300;font-size:28px;line-height:34px;color:#090909;margin-top:6.9rem;margin-bottom:6.9rem;text-align:center;}
.autoTrend .buttn {margin:2.6rem auto;position:relative;}
.autoTrend .buttn img {position:absolute;top:50%;left:2.5rem;transform:translateY(-50%);}

.welCome {background:#D9D9D9;padding:2.5625rem 0;font-weight:500;font-size:1.56rem;line-height:1.9rem;color:#000;}
.welCome h1 {text-transform:none;}
.welCome .wrapG>* {margin-bottom:1.5rem;}
.welCome ul {font-weight:400;font-size:1.25rem;color:#000;list-style-type:disc;}
.welCome li {margin:0 0 1.5rem 1.5rem;}
.welCome a {font-weight:600;font-size:2.5rem;line-height:3rem;text-decoration:underline;text-decoration-style:solid;text-transform:uppercase;
font-weight:700;font-size:1.56rem;line-height:1.9rem;color:#D02C2C;}

.thankYou {position:relative;z-index:0;background:url(../images/porsche.jpg) center center no-repeat;background-size:cover;padding:5.8125rem 0;}
.thankYou .wrapG {position:relative;z-index:3;}
.thankYou::after {content:"";position:absolute;z-index:1;top:0;left:0;width:100%;height:100%;background: rgba(0, 0, 0, 0.7);}
.thankYou * {color:#EAEAEA;}
.thankYou h1 {text-transform:none;}
.thankYou .col2 div {margin-bottom:1.5rem;font-weight:400;font-size:1.55rem;line-height:1.8rem;}
.thankYou .buttnB {font-size:20px;}

.upperLine.darkCl {background:#333333;color:#FFF;font-size:19px;}
.upperLine.darkCl .teleph {font-size:18px;}


footer {padding:5.31rem 0 4.56rem 0;font-weight:400;font-size:15px;line-height:1.1rem;color:#000000;}
footer .cont {display:flex;justify-content:space-between;flex-wrap:wrap;align-items:stretch;}
footer li {margin-bottom:13px;}
footer li:last-of-type {margin-bottom:0;}
footer .logo {margin-top: -15px;}
footer .colmn1 {width:30%;display:flex;justify-content:space-between;flex-wrap:nowrap;align-items:start;flex-direction:column;}
footer .colmn1 ul {margin-bottom:40px;}
footer .colmn1 li {font-size:18px;margin-bottom:30px;}
footer .colmn2 {width:21%;}
footer .colmn3 {width:21%;}
footer .colmn4 {width:19%;}
footer .colmn4>* {margin-bottom:30px;}
footer .colTit {font-weight:600;font-size:1.25rem;line-height:1.5rem;margin-bottom:1.8rem;
display:flex;justify-content:space-between;flex-wrap:nowrap;align-items:center;}
footer .arrDown {display:none;}
footer .arvTim {font-size:18px;}

footer.narr {padding:1rem 0 40px 0;font-size:12px;margin-bottom:70px;}
footer.narr .logo {margin-top: 0;}
footer.narr .colmn {width:100%;/*margin-bottom:32px;*/}
footer.narr .wrkTim {margin-bottom:32px;}
footer.narr .colmn1 ul {margin-bottom:20px;}
footer.narr .colmn1 li {font-size:12px;margin-bottom:12px;}
footer.narr .colmn1 {order:4;}
footer.narr .colmn2 {order:1;}
footer.narr .colmn3 {order:2;}
footer.narr .colmn4 {order:3;}
footer.narr .arrDown {display:block;}
footer.narr .wrapG {padding:0 23px;}

footer.narr .persCab {border-bottom:1px solid #000;}
footer.narr .swap {padding:1.5rem 0;border-top:1px solid #000;}
footer.narr .swap ul {display:none;margin-top:2rem;}
footer.narr .swap .colTit {margin-bottom:0;}


.bottLine {position:fixed;lelt:0;bottom:0;width:100%;height:70px;z-index:100;
background:#D02C2C;padding:1rem 0;color:#FFF;font-weight:500;font-size:12px;line-height:15px;}
.bottLine>div {justify-content: space-evenly;}
.bottLine a{display:flex;justify-content:start;flex-wrap:nowrap;align-items:center;gap:0;flex-direction:column;}
.bottLine a img{height:2rem;}


.slideBanner .scrolCont::-webkit-scrollbar {width:0;height: 0;}
.slideBanner .scrolCont {-ms-overflow-style: none;scrollbar-width: none;overflow: -moz-scrollbars-none;}

.cataLog .scrolCont::-webkit-scrollbar {width:0;height: 0;}
.cataLog .scrolCont {-ms-overflow-style: none;scrollbar-width: none;overflow: -moz-scrollbars-none;}

.scrolBrand .scrolCont::-webkit-scrollbar {width: 0;height: 0;}
.scrolBrand .scrolCont {-ms-overflow-style: none;scrollbar-width: none;}

.videoFBk .scrolCont::-webkit-scrollbar {width: 0;height: 0;}
.videoFBk .scrolCont {-ms-overflow-style: none;scrollbar-width: none;}

.filtBut::-webkit-scrollbar {width:0;height: 0;}
.filtBut {-ms-overflow-style: none;scrollbar-width: none;overflow: -moz-scrollbars-none;}


@media (max-width:1250px) {
.logoMenu {gap:0;margin-bottom:2rem;}
.logoMenu .headMenu {order:3;width:100%;}
.logoMenu a.buttn {order:2;}}

@media (max-width:1000px) {
.logoMenu .headMenu, .findMenu .buttn {display:none;}
.upperLine>.wrapG>*:nth-child(2){order:3;}
.upperLine>.wrapG>*:nth-child(3){order:2;}
.logoMenu {gap:1.5rem;margin-bottom:0;}
.logoMenu .comIn {width:3.125rem;height:3.125rem;
background:transparent;color:transparent;background-image:url(../images/comIn.svg);
background-position:center center;background-repeat:no-repeat;background-size:contain;}
.stnBlock {margin-top:2.5rem;margin-bottom:2.5rem;}
.stnBlock {margin-top:60px;margin-bottom:60px;}
.findMenu {margin-bottom:2rem;}
}

@media (min-width:1000px) {.burger {display:none;}}

@media (min-width:950px) {.bottLine {display:none;}}

@media (max-width:900px) {
.slideBanner .Tit {font-size:26px;}
.slideBanner .subTit {font-size:20px;}
.slideBanner .cont>div {height:274px;}
.slideBanner .buttnB {width:170px;height:32px;border-radius:5px;font-size:12px;line-height:10px;}
.cataLog {margin-bottom:21px;}
.scrolBrand {margin-top:21px;}
.leftArr, .rightArr {width:30px;height:30px;}
.autoNews .cont {flex-wrap:wrap;gap:2rem;}
.autoNews .cont>* { flex-basis:100%;}
.autoNews .subTit, .autoNews h1 {text-align:center;}
.thankYou {padding:3rem 0;font-size:14px;}
.thankYou h1 {text-align:left;font-size:22px;}
.slideArr {gap:2rem;}
}

@media (max-width:800px) {
.buttn {width:137px;height:32px;font-size:12px;}
.buttn.buttnB {min-width:163px;width:163px;height:32px;}
.cataLog .filtBut .buttn {width:125px;height:26px;border-radius:3px;font-weight:400;font-size:12px;}
.catalogCat .buttn {font-size:10px;}
.scrolBrand .cont>* {width:25%;}
.scrolBrand .cont {width:calc(100% - 16rem);}}

@media (max-width:700px) {
.buttn.buttnB {min-width:100px;}
.findMenu form .findOpt{font-size:1.25rem;}
.findMenu form .findOpt{font-size:1.125rem;}
.findMenu input[type='checkbox']{transform:scale(1.2);}
.findMenu form {padding:0 8px 0 18px;height:42px;}
.slideBanner {margin-top:25px;padding:0;}
.slideBanner .Tit {font-size:18px;font-weight:400;line-height: 25px;}
.slideBanner .subTit {font-size:13px;}
.slideBanner .cont>div {width:408px;height:174px;}
.slideBanner .buttnB {width:113px;height:24px;font-weight:400;font-size:8px;}
.slideBanner .slideArr {display:none;}
.videoFBk h1 {margin-bottom:23px;}
.autoNews .buttn {margin:22px auto;}
.autoNews .col2 {font-size:12px;}
.autoNews .col2>*>*:nth-child(1) {width:64px;height:40px;}
.autoTrend {font-size:14px;margin:60px 0;}
.autoTrend h1 {font-size:20px;margin-bottom:0;}
.autoTrend .buttn {margin:24px auto;}
.welCome {font-size:17px;}
.welCome .wrapG>* {margin-bottom:1rem;}
.welCome h1 {font-size: 20px;}
.welCome li {font-size:12px;margin:0 0 8px 17px;}
.welCome a {font-size:12px;}
.thankYou {padding:3rem 0;font-size:12px;}
.thankYou .buttnB {width:107px;height:25px;font-size:12px;border-radius: 5px;}
.thankYou h1 {text-align:left;font-size:15px;}
.upperLine.darkCl, .upperLine.darkCl .teleph {font-size:12px;}
h1 {text-align:center;}}

@media (max-width:600px) {
.buttn {width:122px;height:32px;}
.scrolBrand .cont>* {width:33%;}
.scrolBrand .cont {width:calc(100% - 8rem);}
}

@media (max-width:550px) {
.leftArr, .rightArr {width:22px;height:22px;}
.logoMenu .comIn {width:2.125rem;height:2.125rem;margin:1rem 0;}
.logoMenu {gap:0.5rem;}}
