@font-face {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/Onest-ExtraLight.ttf);
  }

@font-face {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/Onest-Thin.ttf);
  }

@font-face {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Onest-Light.ttf);
  }

@font-face {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Onest-Regular.ttf);
  }

@font-face {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Onest-Medium.ttf);
  }

@font-face {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Onest-SemiBold.ttf);
  }

@font-face {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Onest-Bold.ttf);
  }

@font-face {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/Onest-ExtraBold.ttf);
  }

@font-face {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/Onest-Black.ttf);
  }

:root {
--hover_text: #91061A;
--hover_butt: #329332;
--hover_butt_back: #D97483;
}


html {font-size:16px;}
@media (max-width:900px) {html {font-size:13px;}}
/*@media (max-width:500px) {html {font-size:9px;}}*/

body {color:#000;font-family: 'Onest';font-weight:400;font-size:1rem;line-height:normal;letter-spacing:0;text-align:left;}

input {color:#000;font-family: 'Onest';font-weight:400;font-size:1rem;line-height:normal;letter-spacing:0;}

.wrapG {display:block;max-width:100%;width:1460px;margin:0 auto;padding:0 10px;}

h1 {font-weight:800;font-size: 5.225rem;text-transform:uppercase;}
h2 {font-weight:500;font-size:2.25rem;text-transform: uppercase;}
h3 {font-weight:600;font-size:1.75rem;line-height:2.9375rem;}

h1, h2 {overflow-wrap: break-word;word-break: break-word;-webkit-hyphens: auto;-ms-hyphens: auto;hyphens: auto;}

body * {box-sizing:border-box;}
* {transition-duration:0.3s;}
div.Img {overflow:hidden;line-height:0;}

a {text-decoration:none;color:inherit;display:inline-block;}
b {font-weight:700;}

ul {margin-left:1em;}
input[type="submit"] {cursor:pointer;}

button {font-size:1rem;text-align:center;cursor:pointer;}

.buttn {display:flex;justify-content:center;align-items:center;white-space:wrap;
line-height: 100%;padding:1.125rem 1.875rem;max-width:100%;border:none;background: #91061A;color: #FFF;}
@media (max-width:270px) {.buttn {width:100%;}}

a:hover {color:var(--hover_text);}
a.buttn:hover {color:white;}

.emaiLink img {margin-right:7px;}

header {padding:18px 0;}
header .header-line {display:flex;justify-content:space-between;flex-wrap:nowrap;align-items:center;gap:1rem;}
header .wrapG {display:flex;flex-direction:column;justify-content:space-between;flex-wrap:nowrap;gap:29px;}

header .logo-block {display:flex;justify-content:left;flex-wrap:nowrap;align-items:center;}
header .logo {max-width:132px;/*height:59px;*/aspect-ratio:132/59;overflow:hidden;}
header .logo img {object-fit:cover;width:100%;height:100%;}
header .logo-txt {max-width:9.5rem;font-size:0.875rem;margin-left:1.125rem;}

.telph-block {display:flex;justify-content:left;flex-wrap:nowrap;align-items:center;gap:1.875rem;}
.telph-block>* {display:flex;justify-content:space-between;align-items:center;flex-wrap:nowrap;gap:9px;}
.WhatsApp {width: 36px;height: 36px;border-radius: 5px;background: #F6F6F6;display:flex;justify-content:center;align-items:center;}
.WhatsApp:hover {background:#F2ADB7;}

a.blkButtn {padding:10px 24px;background:#000;}
a.blkButtn:hover {color:#F2ADB7;}

header .burger {display:none;cursor:pointer;width:40px;height:40px;
background:url(../images/burger.svg) center center no-repeat;}
@media (max-width:1100px) {
header .burger {display:block;}
header .telph-block, header .header-line02 {display:none;}}

.burgerMenu {display:none;justify-content:start;flex-wrap:nowrap;align-items:start;gap:2em;flex-direction:column;
position:fixed;z-index:10;top:0;right:0;background:#FFF;/*color:#FFF;*/padding:1.5rem calc(1.5rem + 20px) 1.5rem 1.5rem;}
.burgerMenu .clos {background:url(../images/closBlack.svg) center center no-repeat;background-size:100%;
width:15px;height:15px;cursor:pointer;position:absolute;top:1.5rem;right:1.5rem;}
.burgerMenu .header-line {display:flex;justify-content:space-between;flex-direction:column;flex-wrap:nowrap;align-items:start;gap:1rem;}
.burgerMenu .telph-block {display:flex;justify-content:space-between;flex-direction:column;flex-wrap:nowrap;align-items:start;gap:1rem;}

@media (max-width:500px) {
.burgerMenu {gap:1em;}
.burgerMenu .header-line {gap:0.5rem;}
.burgerMenu .telph-block {gap:0.5rem;}}

.blur {display:none;position:fixed;z-index:5;width:100%;height:100%;left:0;top:0;background:#080404B5;}

.flow-banner {display:none;
background: #FFF;width:705px;max-width:90%;max-height:80%;padding:4.3125rem 4rem 5.4375rem;text-align: center;
position:fixed;z-index:15;top:50%;right:50%;transform: translate(50%, -50%) scale(0, 0);opacity:0;transform-origin:center, center;}
.flow-banner .tit {font-size:1.75rem;line-height:140%;max-width:470px;}
form.footForm {text-align:center;width:100%;height:100%;
display:flex;justify-content:center;flex-direction:column;flex-wrap:nowrap;align-items:center;gap:1.5rem;}
form.footForm input[type="text"], .footForm input[type="tel"] {width:100%;height:66px;padding:0 1em;text-align:center;
background:transparent;font-size:16px;color: #373737;border: 1px solid #CBCBCB;}
.flow-banner .chkLab {font-size: 12px;display:flex;justify-content:center;align-items:center;gap:8px;}
form .agrChk {display:none;}
form .chkLab {display:flex;justify-content:start;align-items:start;flex-wrap:nowrap;}
form .chkLab span {text-decoration: underline;text-decoration-style: solid;}
form .chkLab::before {content:"";background: #FFFFFF;width:15px;height:15px;border-radius:2px;/*margin:8px 8px 0 0;*/flex-shrink:0;border: 1px solid #CBCBCB;}
form .agrChk:checked + .chkLab::before {background:url(../images/chkB.svg) center center no-repeat, #FFF;}
form .agrChk:not(:checked) ~ input[type="submit"] {color:#AAA;}
form .agrChk:not(:checked) ~ input[type="submit"]:hover {color:#AAA;}
@media (max-width:600px) {.flow-banner {padding:10px;}
.flow-banner .tit {font-size:1rem;}
form.footForm input[type="text"], .footForm input[type="tel"] {height:40px;}}

.dropSel {position:relative;cursor:pointer;}
.dropSel .tit:hover {color:var(--hover_text);}
.dropSel .options {background:white;position:absolute;top:2em;z-index:5;white-space:nowrap;box-shadow: 4px 4px 12px 8px #b5b5fb59;}
.dropSel .options a {display:block;padding:10px 13px;}
.dropSel .options a:hover {color:var(--hover_text);}


.txtSect h2 {margin-bottom:0.6em;}
.txtSect p, ul {margin-bottom:1.2em;}
.txtSect ul {margin-left:1.5em;}
.txtSect ul li {margin-bottom:1em;}
.txtSect ol {margin-left:1.2em;}
.txtSect ol li {margin-bottom:0.5em;}
.txtSect .descr {font-weight:400;font-size:1.125rem;line-height:130%;color:#5F5F5F;}
.txtSect .title {font-weight:600;margin-top:1.7em;}
.txtSect .dblack {color:#000;}

.prodPage1 {margin:3.625rem 0 5.0625rem 0;}
.prodPage1 h2 {margin-bottom:2.4375rem;}
.prodPage1 .cont {display:flex;justify-content:space-between;flex-wrap:nowrap;align-items:start;}
.prodPage1 .sect1 {width:50%;}
.prodPage1 .sect2 {width:45%;}
.prodPage1 .sect2 {width:45%;aspect-ratio:660/621;overflow:hidden;}
.prodPage1 img {object-fit:cover;width:100%;height:100%;}
@media (max-width:1300px) {.prodPage1 .sect1 {width:62%;}.prodPage1 .sect2 {width:35%;aspect-ratio:400/621;}}
@media (max-width:1000px) {.prodPage1 .sect1 {width:100%;}.prodPage1 .sect2 {width:100%;aspect-ratio:660/350;}.prodPage1 .cont {flex-direction:column;}}
@media (max-width:700px) {.prodPage1 .sect2 {aspect-ratio:660/621;}}

.prodPage2 {background: url(../images/backimg02.jpg) center center no-repeat;background-size: cover;margin:0;
padding:4.5625rem 0 6.6875rem 0;color:#FFF;}
.prodPage2 h2 {margin-bottom:3.5625rem;}
.prodPage2 .descr {color:#FFF;}
.prodPage2 li {width: 31.3%;border: 1px solid #8E8E8E;padding:1.625rem 2.75rem 1.9rem 1.4375rem;}
.prodPage2 ol {margin:0;display:flex;justify-content:space-between;flex-wrap:wrap;row-gap:3.625rem;
list-style-type: none;counter-reset: css-counter;}
.prodPage2 ol li {margin:0;counter-increment: css-counter;}
.prodPage2 ol li::before {content: counter(css-counter, decimal-leading-zero);display:block;font-size:26px;margin-bottom:1rem;}
@media (max-width:1000px) {.prodPage2 li {width:48.2%;}}
@media (max-width:700px) {.prodPage2 li {width:100%;} .prodPage2 ol {row-gap:1.5rem;}}

.prodPage3 {margin:5.25rem 0 4.75rem 0;}
.prodPage3 .cont {display:flex;justify-content:space-between;flex-wrap:wrap;align-items:start;}
.prodPage3 .sect1, .prodPage3 .sect2 {width:48.75%;aspect-ratio:702/553;overflow:hidden;}
.prodPage3 img {object-fit:cover;width:100%;height:100%;}
.prodPage3 h2 {margin:3.625rem 0 2.1875rem 0;}
@media (max-width:700px) {.prodPage3 .sect1, .prodPage3 .sect2 {width:100%;} .prodPage3 .cont {gap:2rem;} .prodPage3 h2 {margin-top:1.625rem;}}

.prodPage4 {overflow-wrap: break-word;word-break: break-word;-webkit-hyphens: auto;-ms-hyphens: auto;hyphens: auto;margin:4.75rem 0 6.5rem 0;}
.prodPage4 h2 {margin:0 0 2.1875rem 0;}
.prodPage4 ul {list-style: none;margin:0;}
.prodPage4 ul li {margin:0;border-bottom: 1px solid #B3B3B3;border-right: 1px solid #B3B3B3;display:flex;flex-wrap:nowrap;}
.prodPage4 li div {color: #000;line-height:2rem;padding:1.54rem;border-left: 1px solid #B3B3B3;width:50%;}
.prodPage4 li.tit div {font-size: 1.375rem;color:#FFF;background: #00062C;border-left:none;}
.prodPage4 li.tit div:nth-child(2) {border-left: 1px solid #FFF;}
@media (max-width:700px) {.prodPage4 li div {padding:0.8rem;}}
@media (max-width:400px) {.prodPage4 li div {padding:0.2 rem;}}

.prodPage5 {margin:6.5rem 0 4.1875rem 0;}

.titleSect {background:url(../images/backimg01.jpg) center center no-repeat;
color:#FFF;aspect-ratio:1920/1069;background-size:cover;text-align:center;/*padding:2rem 0;*/
}
.titleSect .wrapG {display:flex;flex-direction:column;justify-content:center;flex-wrap:nowrap;align-items:center;gap:1rem;
height:100%;position:relative;}
.titleSect .descr {font-size:2.25rem;text-transform: uppercase;}
.titleSect .descr2 {font-size:1.375rem;}
.titleSect .buttn {margin-top:2.3rem;}
.titleSect .addinf {display:flex;flex-direction:column;justify-content:space-between;flex-wrap:nowrap;align-items:start;gap:1.25rem;
text-align:left;font-size:2.0625rem;font-weight:700;
width:12.12em;max-width:100%;/*height:233px;*/padding:1.12em 1.12em 0.9em;background: #05192C6B;
position:absolute;right:0;bottom:0;}
.titleSect .addinf>*:nth-child(2) {font-weight:300;font-size:0.73em;}
@media (max-width:1200px) {
.titleSect h1 {font-size:4rem;}
.titleSect .descr {font-size:2rem;}
.titleSect .descr2 {font-size:1rem;}
.titleSect .buttn {margin-top:2rem;}
.titleSect .addinf {font-size:1.7rem;}
}
@media (max-width:800px) {
.titleSect {aspect-ratio: auto;padding:1rem 0 0 0;}
.titleSect .wrapG {gap:1em;height:100%;position:relative;}
.titleSect .addinf {margin-top:auto;align-self:end;position:static;}
}
@media (max-width:700px) {
.titleSect h1 {font-size:3rem;}
.titleSect .descr {font-size:1.5rem;}
.titleSect .descr2 {font-size:1rem;}
.titleSect .buttn {margin-top:2rem;}
.titleSect .addinf {font-size:1.2rem;}
}
@media (max-width:500px) {.titleSect h1 {font-size:2.5rem;}}

.ltmgroup {margin:6rem 0;}
.ltmgroup2 {margin:4.6875rem 0;}

.headBlock {display:flex;justify-content:space-between;flex-wrap:nowrap;align-items:center;gap:1rem;width:100%;}
.hScroll .slideCont::-webkit-scrollbar {width:0;height: 0;}
.hScroll .slideCont {-ms-overflow-style: none;scrollbar-width: none;overflow: -moz-scrollbars-none;}

.slideCont {display:flex;justify-content:start;flex-wrap:nowrap;white-space:nowrap;overflow-x:auto;overflow-y:hidden;}
.slideCont>* {white-space:normal;flex-shrink: 0;}

.arrCont {display:flex;justify-content:space-between;flex-wrap:nowrap;flex-shrink:0;gap:12px;}
.hScroll .leftArr, .hScroll .rightArr {
width:48px;height:48px;border-radius:50px;
background:url(../images/buttArr.svg) center center no-repeat, linear-gradient(#FFF, #FFF);cursor:pointer;}
.hScroll .rightArr {transform: scaleX(-1);}

.template01 {margin:3.125rem 0;}
.template01 .cont {margin-top:4.625rem;}

.manufPhoto {background:url(../images/backimg02.jpg) center center no-repeat;background-size:cover;
margin-bottom:0;}
.template01 {color:#FFF;padding:3.75rem 0 6.25rem 0;}
.manufPhoto .cont>* {aspect-ratio:560/619;width:560px;overflow:hidden;position:relative;}
.manufPhoto .cont>* img {object-fit:cover;width:100%;height:100%;}
/*@media (max-width:1000px) {.template01 .cont>* {width:100%;}}*/

.manufPhoto .cont .descr {padding:0 31px 31px 18px;
font-weight:500;font-size:1.375rem;text-transform:uppercase;color: #FFF;
display:flex;justify-content:space-between;flex-wrap:nowrap;align-items:center;
position:absolute;width:100%;bottom:0;left:0;}
.manufPhoto .cont .descr p {max-width:12.125rem;}
.LinkArr {width:46px;height:46px;border-radius:50px;
background:url(../images/linkArrow.svg) center center no-repeat, linear-gradient(#FFF, #FFF);cursor:pointer;}


.ourDevc {background:url(../images/backimg03.jpg) center center no-repeat;background-size:cover;}
.ourDevc .cont {gap:1.5rem;}
.ourDevc .cont>* {width:calc((100% - (2 * 1.5rem))/3);overflow:hidden;background:#FFF;padding:34px 23px 22px 23px;
display:flex;flex-direction:column;justify-content:start;flex-wrap:nowrap;align-items:center;
font-size:1.125rem;color:#5F5F5F;}
.ourDevc .cont p {align-self:start;}
.ourDevc .cont p.Tit {font-weight: 500;font-size:1.375rem;color:#000;margin:17px 0;}
.ourDevc .cont .imgCont {height:245px;width:100%;}
.ourDevc .cont .imgCont img {object-fit:contain;height:100%;width:100%;}
@media (max-width:1100px) {.ourDevc .cont>* {width:calc((100% - 1.5rem)/2);}}
@media (max-width:700px) {.ourDevc .cont>* {width:100%;}}

.aboutComp {margin:6.4375rem 0 5rem 0;}
.aboutComp .line1 {display:flex;justify-content:start;flex-wrap:nowrap;}
.aboutComp .tale {display:flex;flex-direction:column;justify-content:space-between;flex-wrap:nowrap;align-items:start;
padding:1.3rem 1.81rem 1.625rem 1.81rem;height:285px;flex-basis:calc(100%/3);}
.aboutComp .tale .figur {font-weight:600;font-size:7.5rem;line-height:1em;}
.aboutComp .tale .descr {font-weight:300;font-size:1.25rem;max-width:50%;}
.aboutComp .tale .figur span {font-size:0.267em;}
.aboutComp .tale1 {background:#E5E5E5;}
.aboutComp .tale1 .figur {color:#00062C;}
.aboutComp .tale1 .descr {color:#000;}
.aboutComp .tale2 {background:#00062C;}
.aboutComp .tale2 .figur {color:#FFF;}
.aboutComp .tale2 .descr {color:#FFF;}
.aboutComp .tale3 {background:#91061A;/*flex-shrink:0;*/}
.aboutComp .tale3 .figur {color:#FFF;}
.aboutComp .tale3 .descr {color:#FFF;}

.aboutComp .line2 {display:flex;justify-content:start;flex-wrap:nowrap;margin-top:2.5rem;}
.aboutComp .eptSpace {flex-basis:calc(100%/3);}
.aboutComp .txt {display:flex;flex-direction:column;justify-content:space-between;flex-wrap:nowrap;align-items:start;flex-basis:calc(100%*2/3);}
.aboutComp .txt .descr {margin-bottom:2.625rem;}

@media (max-width:1440px) {
.aboutComp .tale1, .aboutComp .tale2 {flex-basis:27%;}
.aboutComp .tale3 {flex-basis:46%;}
.aboutComp .eptSpace {flex-basis:27%;}
.aboutComp .txt {flex-basis:73%;}}
@media (max-width:1050px) {
.aboutComp .tale .figur {font-size:6rem;}}
@media (max-width:1000px) {
.aboutComp .line1 {flex-wrap:wrap;}
.aboutComp .tale1, .aboutComp .tale2 {flex-basis:50%;}
.aboutComp .tale3 {flex-basis:100%;}
.aboutComp .tale {height:180px;}
.aboutComp .eptSpace {flex-basis:0;}
.aboutComp .txt {flex-basis:100%;}}
@media (max-width:500px) {
.aboutComp .line1 {flex-wrap:wrap;}
.aboutComp .tale1, .aboutComp .tale2, .aboutComp .tale3 {flex-basis:100%;}}
@media (max-width:350px) {
.aboutComp .tale .figur {font-size:3rem;}
.aboutComp .tale {height:140px;}}

.ourProjects {background:url(../images/backimg04.jpg) center center no-repeat;background-size:cover;
padding: 6.5625rem 0 4.875rem 0;}
.ourProjects .wrapG {display:flex;flex-direction:column;justify-content:start;flex-wrap:nowrap;align-items:center;gap:4.5625rem;}
.ourProjects .cont {display:flex;justify-content:space-between;flex-wrap:wrap;gap:1.25rem;margin-top:0;}
.ourProjects .cont>* {width:calc((100% - (2 * 1.25rem))/3);overflow:hidden;background:#FFF;line-height:0;}
.ourProjects .cont .imgCont {aspect-ratio:468/315;width:100%;}
.ourProjects .cont .imgCont img {object-fit:contain;height:100%;width:100%;}
.ourProjects .linkLine {display:inline-flex;justify-content:space-between;flex-wrap:nowrap;
font-size:1.125rem;color:#000;line-height:normal;width:100%;}
.ourProjects .linkLine p {padding:0.875rem 0.75rem;/*flex-shrink:1;*/}
.ourProjects .linkLine a {width: 66px;/*flex-shrink:0;*/
background: url(../images/linkArroWhite.svg) center center no-repeat, linear-gradient(0deg, #91061A, #91061A);}
.ourProjects .cont>*:first-child {background:transparent;line-height:normal;}
.ourProjects h2 {max-width:20rem;}
@media (max-width:1100px) {.ourProjects .cont>* {width:calc((100% - 1.25rem)/2);}}
@media (max-width:700px) {.ourProjects .cont>* {width:100%;}}

.sertificates {background:url(../images/backimg05.jpg) center center no-repeat;background-size:cover;padding:7.5rem 0 10.75rem 0;margin-bottom:0;}
.sertificates h2 {margin-bottom:4.9375rem;}
.sertificates .cont {display:flex;justify-content:center;flex-wrap:wrap;gap:1.3rem;margin-top:0;}
.sertificates .cont>* {line-height:0;width: 344px;height: 487px;}
.sertificates .cont>* img {object-fit:contain;width:100%;height:100%;}

.ourPeferences {background:url(../images/backimg06.jpg) center center no-repeat;background-size:cover;padding:6.8125rem 0 5.125rem 0;}
.ourPeferences .wrapG {display:flex;justify-content:space-between;flex-wrap:wrap;align-items:start;gap:3rem;}
.ourPeferences .col1 {display:flex;flex-direction:column;justify-content:start;align-items:start;flex-wrap:nowrap;gap:2.8125rem;width:calc(93% - 820px);}
.ourPeferences .col1 .descr {margin-bottom:2.0625rem;}
.ourPeferences h2 {margin-bottom:0;max-width:20rem;overflow-wrap: auto-phrase;word-break: auto-phrase;-webkit-hyphens: none;-ms-hyphens: none;hyphens: none;}
.ourPeferences .col2 {display:flex;justify-content:start;flex-wrap:wrap;gap:1.3125rem;width:820px;}
.ourPeferences .tale {padding:10.5rem 1rem 1.875rem 1rem;color:#FFF;width:calc((100% - 1.43rem)/2);max-width:398px;aspect-ratio:398/339;position:relative;
display:flex;flex-direction:column;justify-content:start;flex-wrap:nowrap;align-items:start;}
.ourPeferences .tale img {position:absolute;top:1.875rem;left:1rem;}
.ourPeferences .tale p.tit {font-weight:500;font-size:1.25rem;text-transform:uppercase;max-width:9em;margin-bottom:0.5625rem;}
.ourPeferences .tale p.descr {font-weight:400;font-size:1rem;color:#FFF;margin-bottom:0;}
.ourPeferences .tale {background: #91061A;}
.ourPeferences .tale:nth-child(2), .ourPeferences .tale:nth-child(3) {background: #00062C;}
@media (max-width:1300px) {.ourPeferences .col1 {width:calc(97% - 820px);}}
@media (max-width:1200px) {.ourPeferences .col1 {width:100%;}.ourPeferences .col2 {width:100%;}}
@media (max-width:600px) {.ourPeferences .tale {width:100%;aspect-ratio:auto;}}

.ourClients {padding:6.8125rem 0 5.125rem 0;}
.ourClients h2 {margin-bottom:65px;overflow-wrap: auto-phrase;word-break: auto-phrase;-webkit-hyphens: none;-ms-hyphens: none;hyphens: none;}
.ourClients .cont {display:flex;justify-content:space-between;flex-wrap:wrap;width:100%;}
.ourClients .tale {aspect-ratio:338/245;width:23.5%;max-width:338px;border: 1px solid #D3D3D3;
display:flex;justify-content:center;align-items:center;}
.ourClients .tale img {max-width:58%;}
@media (max-width:1000px) {
.ourClients h2 {text-align:center;}
.ourClients .cont {justify-content:center;gap:1.8125rem;}
.ourClients .tale {width:45%;}}
@media (max-width:600px) {.ourClients .tale {width:100%;}}


.breadcr {font-size:0.875rem;color: #5B5B5B;padding:1.75rem 0 0 0;margin:0.75rem 0 3.625rem 0;border-top: 1px solid #BCBCBC;}
.breadcr a:nth-child(n + 2)::before {content:"/";margin:0 0.2em;}

footer {background: #00062C;color:#FFF;}
footer .row1 {border-bottom: 1px solid #FFFFFF29;}
footer .row1 .wrapG {display:flex;justify-content:start;flex-wrap:wrap;}
footer .colm {padding:3.25rem 2.8125rem;width:25%;width:calc(25% + 0.666*2.8125rem);
display:flex;justify-content:start;flex-direction:column;flex-wrap:nowrap;align-items:start;gap:1.5625rem;}
footer .row1 .colm:nth-child(n + 2) {border-left:  1px solid #FFFFFF29;}
footer .row1 .colm:first-child {padding-left:0;width:calc(25% - 0.666*2.8125rem);}
footer .row1 .colm:last-child {padding-right:0;width:calc(25% - 0.666*2.8125rem);}
footer .colm4 .emaiLink, footer .colm4 .teleph {display:flex;justify-content:start;align-items:center;flex-wrap:nowrap;gap:9px;}
footer .WhatsApp {background: #FFFFFF1F;}
footer .WhatsApp:hover {background:var(--hover_text);}
footer .buttn {margin-top:auto;}
footer .row2 {font-weight: 400;font-size: 13px;line-height: 100%;}
footer .row2 a {text-decoration: underline;}
footer .row2 .wrapG {height:70px;display:flex;justify-content:space-between;flex-wrap:wrap;align-items:center;gap:2rem;padding:0.5rem 10px;}
@media (max-width:1100px) {
footer .colm {width:50%;}
footer .row1 .colm:first-child {width:50%;padding-left:1.9375rem;}
footer .row1 .colm:last-child {width:50%;padding-right:1.9375rem;}
footer .row1 .colm:nth-child(n + 2) {border:none;}
footer .row1 .colm:nth-child(2n) {border-left: 1px solid #787878;}
footer .row1 .colm:nth-child(2) {padding-right:1.9375rem;}
footer .row1 .colm:nth-child(3) {padding-left:1.9375rem;}
}
@media (max-width:600px) {
footer .colm {width:100%;}
footer .row1 .colm:first-child {width:100%;}
footer .row1 .colm:last-child {width:100%;}
footer .row1 .colm:nth-child(n) {border-left:none;padding:2.9375rem 0;}
footer .row2 .wrapG {height:auto;}
}

.presentation {padding:6.8125rem 0 5.125rem 0;}
.presentation * {transition-duration:1s;}
.presentation h2 {margin-bottom:65px;overflow-wrap: auto-phrase;word-break: auto-phrase;-webkit-hyphens: none;-ms-hyphens: none;hyphens: none;}
.presentation .sldCont {aspect-ratio:1442/1029;width:100%;position:relative;overflow:hidden;}
.presentation .sldCont img {position:absolute;left:0;top:0;object-fit:cover;width:100%;height:100%;}
.presentation .slides {position:relative;}
.presentation .sldCont {width:100%;height:100%;font-size:0;position:relative;}
.presentation .dots {position:absolute;left:50%;bottom:2%;transform: translateX(-50%);
display:flex;justify-content:space-between;flex-wrap:nowrap;align-items:center;gap:1rem;}
.presentation .dots>* {width:2rem;height:2rem;border-radius:50%;background:#777;cursor:pointer;}
.presentation .dots>*.mark {background:#457fd9;}

.scrolNav {width:98%;display:flex;justify-content:space-between;flex-wrap:wrap;align-items:center;
position:absolute;left:50%;top:50%;transform: translate(-50%, -50%);}
.scrolNav .arrLeft, .scrolNav .arrRight {background-image: url(../images/buttArr.svg);background-color:#609eeec2;
background-position:center center;background-repeat:no-repeat;width:3rem;height:9rem;cursor:pointer;}
.scrolNav .arrRight {transform: scaleX(-1);}

@media (max-width:800px) {
.presentation .dots {gap:0.5rem;}
.presentation .dots>* {width:1rem;height:1rem;}
.scrolNav .arrLeft, .scrolNav .arrRight {
width:1.5rem;height:4.5rem;}}
